<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Questionário</h1>
    <form action="/verifica", method="post">
        <label for="nome">Nome completo:</label>
        <br> <br> <br>
        <input type="text" id="nome" name="nome"> 
        <br> <br> <br>
        <label for="email">Email Institucional:</label>
        <br> <br> <br>
        <input type="email" id="email" name="email">
        <button type="submit">Entrar no questionário</button>
    </form>
</body>
</html>