<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form action="{{ url_for('login.register') }}" method="POST">
            <label for="username">Nome de Usuário</label>
            <input type="text" name="username" required>
            
            <label for="password">Senha</label>
            <input type="password" name="password" required>
            
            <button type="submit">Cadastrar</button>
        </form>

        <!-- Exibe as mensagens flash -->
        {% if get_flashed_messages() %}
            <ul>
                {% for message in get_flashed_messages(with_categories=True) %}
                    <li class="{{ message[0] }}">{{ message[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
